*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
}
body{

  padding:30px;

}

header{

 background-color: yellow;
 height:200px;

}

footer{

 height: 200px;
 background-color: grey;
 margin-bottom: 20px;
 margin-top: 10px;
}

main{

  margin-top: 10px;
  height:500px;

}

main .contenitore1,
main .contenitore2,
main .contenitoredoppio{

  float: left;

}

main .contenitore1{

   width:30%;
   background-color: purple;
   height: 300px;
   margin-right: 2px;


}

main .contenitore2{

  width:40%;
  background-color: purple;
  height: 300px;
  margin-right: 2px;


}
